* {margin:0;padding:0;}
html, body {width: 100%;height: 100%;overflow-y: auto;font-family: Microsoft Yahei;}
/*ol, ul {list-style: none;}*/
.fl {float: left;}
.fr {float: right;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

.add-psq.el-button--primary, .add-psq.el-button--primary.is-active, .add-psq.el-button--primary:active {
  background: #126ab5;
  border-color: #126ab5;
}
.add-psq.el-button--primary:focus, .add-psq.el-button--primary:hover {
  background: #4188c4;
  border-color: #4188c4;
}
.add-psq.el-button {
  border-radius: 0;
  padding: 7px 24px;
}

.search-psq .el-input__inner{
  height: 36px;
  line-height: 36px;
  border-color: #126ab5 !important;
  border-right:none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-psq .el-input-group__append{
  border-color: #126ab5 !important;
  background: #fff;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 4px 10px 0;
}
.search-psq .el-input-group__append .el-icon-search{
	font-size:20px;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
	padding-left: 20px;
}
