* {margin:0;padding:0;}
html, body {width: 100%;height: 100%;overflow-y: auto;font-family: Microsoft Yahei;}
/*ol, ul {list-style: none;}*/
.fl {float: left;}
.fr {float: right;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

.add-psq.el-button--primary, .add-psq.el-button--primary.is-active, .add-psq.el-button--primary:active {
  background: #126ab5;
  border-color: #126ab5;
}
.add-psq.el-button--primary:focus, .add-psq.el-button--primary:hover {
  background: #4188c4;
  border-color: #4188c4;
}
.add-psq.el-button {
  border-radius: 0;
  padding: 7px 24px;
}

.search-psq .el-input__inner{
  height: 36px;
  line-height: 36px;
  border-color: #126ab5 !important;
  border-right:none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-psq .el-input-group__append{
  border-color: #126ab5 !important;
  background: #fff;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 4px 10px 0;
}
.search-psq .el-input-group__append .el-icon-search{
	font-size:20px;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
	padding-left: 20px;
}

/*按钮样式覆盖 start*/
.el-button--text{color:#126ab5;}
/*按钮样式覆盖 end*/

/*单选样式 start*/
.el-radio{color:#333333;}
.el-radio__inner{border-color:#126ab5;}
.el-radio__input.is-checked .el-radio__inner{background: #fff;border-color:#126ab5;}
.el-radio__inner::after{background:#126ab5;width:8px;height:8px; }
.el-radio__input.is-checked+.el-radio__label{color:#126ab5;}
.el-radio img{margin: 10px 0 0 28px;}
/*单选样式 end*/

/*复选框样式 start*/
.el-checkbox{color:#333333;}
.el-checkbox img {margin-top: 10px;}
.el-checkbox__inner{border-color:#126ab5;border-radius: 0;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background: #126ab5;border-color:#126ab5;}
.el-checkbox__input.is-checked+.el-checkbox__label{color:#126ab5;}
.el-checkbox__inner:hover{border-color:#126ab5;}
.el-checkbox__input.is-focus .el-checkbox__inner {border-color: #126ab5;}
/*复选框样式 end*/

/*填空 start*/
.el-textarea__inner{width: 800px;border-radius: 0;}
.el-textarea__inner:focus{border-color:#126ab5;}

.inputMulti .el-textarea__inner{width:700px;}
/*填空 end*/

/*评分 start*/
.rate .rate-first{margin-right: 40px;}
.rate .rate-last{margin-left: 40px;}
.rate .el-radio-group{margin-top: 3px;}

.rateMulti .el-table,.rateMulti .el-table thead{color:#333333;}
.rateMulti .el-table td, .rateMulti .el-table th.is-leaf{border:none;}
.rateMulti .el-table::before{height: 0;}
.rateMulti .el-table .el-radio__label{display: none;}
/*评分 end*/

/*滑动 start*/
.slider .slider-first{margin-right:10px;color:#126ab5;line-height: 30px;}
.slider .slider-last{margin-left:10px;color:#126ab5;line-height: 30px;}
.slider .el-slider{width:500px;height: 30px;background-color: #d3e8fb;}
.slider .el-slider__runway{width:480px;height: 2px;background-color: #a0c3e1;margin:14px auto;border-radius: 0;}
.slider .el-slider__bar{height: 2px;background-color: #126ab5;border-radius: 0;}
.slider .el-slider__button-wrapper{height: 33px;width: 30px;}
.slider .el-slider__button{height: 10px;width: 10px;border-color:#126ab5;}
/*滑动 end*/

/*下拉选择样式覆盖 start*/
.el-select .el-input__inner{height: 30px;line-height: 30px;background-color: #f3f3f3;border-color:#cccccc;border-radius: 0;color: #999999;}
/*下拉选择样式覆盖 end*/

/*输入框样式覆盖 start*/
.el-input__inner{height: 30px;line-height: 30px;background-color: #fff;border-color:#cccccc;border-radius: 0;}
/*输入框样式覆盖 end*/
