html, body {width: 100%;height: 100%;overflow-y: auto;font-family: Microsoft Yahei;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.add-psq.el-button--primary, .add-psq.el-button--primary.is-active, .add-psq.el-button--primary:active {
  background: #126ab5;
  border-color: #126ab5;
}
.add-psq.el-button--primary:focus, .add-psq.el-button--primary:hover {
  background: #4188c4;
  border-color: #4188c4;
}
.add-psq.el-button {
  border-radius: 0;
  padding: 7px 24px;
}

.el-input__inner{
  height: 36px;
  line-height: 36px;
  border-color: #126ab5 !important;
  border-right:none;
  border-radius: 20px;
}
.el-input-group__append{
  border-color: #126ab5 !important;
  background: #fff;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 4px 10px 0;
}
.el-input-group__append .el-icon-search{
	font-size:20px;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
	padding-left: 20px;
}
